@mixin mainbuttons {
    border:1px solid #1FC7D4;
    border-radius:15px;
    width:150px;
    height: 50px;
    font-weight: 600;
    font-size:16px;
    color:white;
    background-color: #1FC7D4;
    transition: all 0.3s ease;
        &:hover {
        opacity: 0.7;
        }
   }

@mixin secondarybuttons {
    border: 2px solid #1FC7D4;
    border-radius:15px;
    width:120px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    color:#1FC7D4;
    background-color: transparent;
    transition: all 0.3s ease;
        &:hover {
            opacity: 0.7;
        }
   }

// 


.moon_container {
    height: 55rem;
    width: 100%;
    padding: 0px 100px;
    background: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
    position: relative;

    .moon_top {
        overflow: hidden;
        width: 100%;
        height: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 50px;

        .moon_countdown {
            display: inline;
            border-radius: 30px;
            width: 100%;
            height: 200px;
            background: -webkit-linear-gradient(top, rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%);
            padding: 25px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            // animation: 500ms ease-in-out 0s 1 normal none running slider;
            overflow: hidden;

            #moon_perpetual {
                color: rgb(255, 178, 55);
                font-size: 24px;
                font-weight: 600;
                margin-bottom: 8px;
            }

            #moon_upto100 {
                font-size: 40px;
                color: rgb(255, 255, 255);
                text-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px;
                text-transform: uppercase;
                margin-bottom: 8px;
                background: -webkit-linear-gradient(top, rgb(118, 69, 217) 0%, rgb(69, 42, 122) 100%) text;
                -webkit-text-stroke: 6px transparent;
            }

            .moon_mainbutton {
                @include mainbuttons;
            }

            .moon_lottery2 {

                #moon_sliderimg {
                    position: absolute;
                    max-height: 120%;
                    max-width: 100%;
                    right: 0;
                    bottom: 0;
                }
                #moon_sliderhide {
                    // display: none;
                    visibility: hidden;
                    position: absolute;
                    max-height: 120%;
                    max-width: 100%;
                    right: 0;
                    bottom: 0;
                }
            }

            h2 {
                color: white;
            }
            .moon_counter {
                background-color: #280D5F;
                // width: 200px;
                width: fit-content;
                height: 40px;
                border-radius: 10px;

                .moon_timer {
                    height: 100%;
                    width: 100%;
                    padding: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    p {
                        color: rgb(255, 178, 55);;
                        font-size: 2.5em;
                        font-weight: 600;
                    }
                    span {
                        color: rgb(255, 178, 55);;
                        font-size: 1.25rem;
                        font-weight: bold;
                    }
                }
            }

            .moon_lottery {
                img {
                    position: absolute;
                    height: auto;
                    width: max-content;
                    bottom: 0;
                    right: 0
                }
                img:last-child {
                    position: absolute;
                    visibility: hidden;
                }
            }

            .moon_mainbutton {
                @include mainbuttons;
            }
        }

        .moon_sliderbox {
            width: 100px;
            height: 8px;
            position: absolute;
            top: 0;
            margin-top: 230px;
            display: flex;


            .moon_slidertrasparente {
                width: 50%;
                background-color: gray;
                opacity: 0.5;
                border-bottom-left-radius: 50px;
                border-top-left-radius: 50px;
            }
            .moon_slidercolorato {
                border-bottom-right-radius: 50px;
                border-top-right-radius: 50px;
                width: 50%;
                background-color: white;
            }
        }

        .moon_backgroundimg {

            img {
                position: absolute;
                bottom: 0;
                right: 0;
                fill: rgb(40, 13, 95);
            }
        }
        
    }

    .moon_bottom {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

    .moon_bottomleft {
        width: 50%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;

        #moon_maintext {
            font-size: 65px;
            font-weight: bolder;
            color: rgb(118, 69, 217);
        }
        #moon_secondarytext {
            font-size: 18px;
            color: #280D5F;
            font-weight: bold;
        }
        .moon_bottoni {
            display: flex;
            width: 100%;
            justify-content: left;
            gap: 10px;
            z-index: 1;
                #moon_mainbuttons {
                    @include mainbuttons;
                }
                #moon_secondarybutton {
                    @include secondarybuttons;
                }
        }
    }

    .moon_bottomright {
        width: 50%;
        // height: 100%;

        img {
            max-width: 99%;
            animation: 1s ease-in-out 0s infinite normal none running img-moon;
            // max-height: 100%;
        }
    }
    }
}

@keyframes slider {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-100vw, 0px);
    }
    100% {
        transform: translate(0px, 0px);
    } 
}

@media screen and (max-width: 1080px) { 
    .moon_container {
        padding: 0px 60px;
        .moon_top {

            .moon_countdown {

                .moon_lottery {

                    img:first-child {
                        width: 100%;
                        height: auto;
                    }
                    img:last-child {
                        visibility: hidden;
                    }
                }
            }

        }
    }
}

@media screen and (max-width: 968px) {
    .moon_container {

        .moon_top {

            .moon_countdown {

                .moon_lottery {

                    img:first-child {
                        visibility: hidden;
                    }
                    img:last-child {
                        visibility: visible;
                        // padding-top: 50px;
                        // padding-right: 30px;
                        // right: 0;
                        margin-top: 100px;
                        bottom: -50px;
                        width: 40%;
                    }
                }
                .moon_lottery2 {
                    #moon_sliderhide {
                        visibility: visible;
                    }
                    #moon_sliderimg {
                        visibility: hidden;
                    }
                }

        }
    }
    }
}

@media screen and (max-width: 852px) {
    .moon_container {
        padding: 0px 40px;

        .moon_top{

            .moon_backgroundimg {
                img {
                    bottom: -25px;
                }
            }

            .moon_countdown {
                .moon_lottery2 {
                    #moon_sliderhide {
                        visibility: visible;
                    }
                    #moon_sliderimg {
                        visibility: hidden;
                    }
                }
            }
        }
        .moon_bottom {
            flex-direction: column;

            .moon_bottomleft {
                order: 2;
                width: 100%;

                #moon_maintext {
                    font-size: 45px;
                    // text-align: left;
                    width: 100%;
                }
                #moon_secondarytext {
                    width: 100%;
                }
                .moon_bottoni{
                    z-index: 1;
                }
            }

            .moon_bottomright {
                order: 1;
                img {
                    margin-left: 200px;
                    width: 80%;
                    padding-bottom: 25px;
                }
            }

        }
    }
}

@media screen and (max-width: 576px) {
    .moon_container {
        padding: 0px 30px;
        min-width: 100vw;

        .moon_top {

            .moon_countdown {

                .moon_counter {
                    #moon_timerCountdown {
                        font-size: 30px;
                    }
                }

                .moon_lottery {

                    img:first-child {
                        visibility: hidden;
                    }
                    img:last-child {
                        visibility: visible;
                        padding-top: 50px;
                        // padding-right: 30px;
                        right: 0;
                        width: 50%;
                    }
                }

                #moon_upto100 {
                    font-size: 24px;
                }

                .moon_lottery2 {
                    #moon_sliderhide {
                        visibility: visible;
                    }
                    #moon_sliderimg {
                        visibility: hidden;
                    }
                }
            }

        }

        .moon_bottom {
            flex-direction: column;

            .moon_bottomleft {
                order: 2;
                width: 100%;
                #maintext {
                    font-size: 45px;
                }
                .moon_bottoni{
                    z-index: 1;
                }
            }

            .moon_bottomright {
                order: 1;
                img {
                    margin-left: 100px;
                    width: 100%;
                    padding-bottom: 25px;
                }
            }

        }
    }
}

@media screen and (max-width: 370px) {
    .moon_container {
        width: 100%;
        .moon_top {

            .moon_countdown {
                max-width: 100%;
                
                .moon_counter {
                    .moon_timer {
                        #moon_timerCountdown {
                            font-size: 24px;
                        }
                    }
                }

                #moon_upto100 {
                    font-size: 20px;
                }

                .moon_counter {

                    .moon_timer {
                        
                        p {
                            font-size: 30px;
                        }
                    }
                }
                .moon_lottery {

                    img:first-child {
                        visibility: hidden;
                    }
                    img:last-child {
                        visibility: hidden;
                    }
                }
                .moon_lottery2 {
                    #moon_sliderimg {
                        visibility: hidden;
                    }
                    #moon_sliderhide {
                        visibility: hidden;

                    }
                }
            }
        }

        .moon_bottom {

            .moon_bottomright {

                img {
                    margin-left: 0;
                }
            }
        }
    }
}
