  ::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    box-shadow: rgb(238, 234, 244) 0px 0px 5px inset;
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #7A6EAA;
    border-radius: 8px;
  }
  .big_container{
    display: none;
  }
  
  .appear {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: fixed;
    inset: 0px;
    z-index: 99;
    will-change: opacity;
  }
  .appear .presentation {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 13, 95, 0.6);
    z-index: 20;
    will-change: opacity;
  }
  .appear .settings_container {
    overflow-y: hidden;
    background: rgb(255, 255, 255);
    box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
    border: 1px solid rgb(231, 227, 235);
    border-radius: 32px;
    width: 370px;
    max-height: 650px;
    z-index: 100;
  }
  .appear .settings_container .settings_top {
    height: 80px;
    -webkit-box-align: center;
    align-items: center;
    background: linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%);
    border-bottom: 1px solid rgb(231, 227, 235);
    display: flex;
    justify-content: space-between;
    padding: 12px 24px;
    font-size: 20px;
    font-weight: bolder;
    color: rgb(40, 13, 95);
  }
  .appear .settings_container .settings_top a{
    text-decoration: none;
    color: rgb(31, 199, 212);
  }
  .appear .settings_container .settings_scroolbar {
    display: flex;
    overflow-y: scroll;
    flex-direction: column;
    padding: 10px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner {
    height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .font_settings1 {
    color: rgb(118, 69, 217);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .font_settings2 {
    color: rgb(40, 13, 95);
    font-weight: 600;
    font-size: 16px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .switch {
    width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(189, 194, 196);
    border-radius: 24px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    cursor: pointer;
    transition: background-color 200ms ease 0s;
    -webkit-box-align: center;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .switch input {
    width: 10px;
    height: 10px;
    cursor: pointer;
    opacity: 0;
    z-index: 3;
    position: absolute;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .switch .sole {
    fill: rgb(252, 249, 72);
    background-color: white;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.5);
    width: 50%;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
  }
  
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .switch .sole:active {
    border: 4px solid rgb(122, 110, 170);
    transform: translateX(100%);
    transition:transform 1s;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .sub_container .switch .luna {
    fill: white;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .font_settings2 {
    color: rgb(40, 13, 95);
    font-weight: 600;
    font-size: 16px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .font_settings2 svg {
    fill: #7A6EAA;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .trebottoni {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .trebottoni .btn_settings {
    display: flex;
    align-items: center;
    width: 150px;
    height: 35px;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    letter-spacing: 0.03em;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    padding: 16px;
    color: white;
    background-color: rgb(31, 199, 212);
    margin-right: 4px;
  }
  .appear .settings_container .settings_scroolbar .primo_conteiner .trebottoni .btn_settings:active {
    background-color: #1D8999;
    border: 1px solid #1D8999;
    border-radius: 20px;
    color: white;
  }
  .appear .settings_container .settings_scroolbar .secondo_container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-top: 1px solid rgb(231, 227, 235);
    height: 140px;
    margin-top: 10px;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .font_settings1 {
    display: flex;
    align-items: center;
    height: 30%;
    color: rgb(118, 69, 217);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 90%;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .font_settings2 {
    color: rgb(40, 13, 95);
    font-weight: 600;
    font-size: 16px;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .font_settings2 svg {
    fill: #7A6EAA;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .trebottoni {
    display: flex;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .trebottoni .btn_settings {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 35px;
    border: 0px;
    border-radius: 16px;
    box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    font-weight: 600;
    -webkit-box-pack: center;
    letter-spacing: 0.03em;
    opacity: 1;
    outline: 0px;
    transition: background-color 0.2s ease 0s, opacity 0.2s ease 0s;
    padding: 16px;
    color: white;
    background-color: rgb(31, 199, 212);
    margin-right: 4px;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .trebottoni .btn_settings:active {
    background-color: #1D8999;
    border: 1px solid #1D8999;
    border-radius: 20px;
    color: white;
  }
  .appear .settings_container .settings_scroolbar .secondo_container .liquidity_swap .trebottoni .percetuale {
    color: rgb(31, 199, 212);
    font-weight: 600;
    font-size: 16px;
    margin-left: 2px;
    line-height: 1.5;
  }
  .appear .settings_container .settings_scroolbar .terzo_container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .font_settings2 {
    color: rgb(40, 13, 95);
    font-weight: 600;
    font-size: 16px;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .font_settings2 svg {
    fill: #7A6EAA;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .placeholder {
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .placeholder input {
    text-align: center;
    background-color: rgb(238, 234, 244);
    border-radius: 15px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    color: rgb(40, 13, 95);
    display: block;
    font-size: 16px;
    height: 32px;
    width: 60px;
    border: 1px solid rgb(215, 202, 236);
    font-weight: 600;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch {
    width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(189, 194, 196);
    border-radius: 24px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    -webkit-box-align: center;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch .cerchio {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    right: 10px;
    height: 26px;
    width: 26px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transition: transform 1s;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch .cerchio:active {
    border: 4px solid rgb(122, 110, 170);
    transform: translateX(100%);
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch2 {
    width: 56px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgb(49, 208, 170);
    border-radius: 24px;
    box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
    -webkit-box-align: center;
    transition: all 0.3s ease 0s;
    transform-origin: 20% center;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch2 .cerchio2 {
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    right: 10px;
    height: 26px;
    width: 26px;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s;
    transition: transform 1s;
  }
  .appear .settings_container .settings_scroolbar .terzo_container .switch2 .cerchio2:active {
    border: 4px solid rgb(122, 110, 170);
    transform: translateX(100%);
  }  
  @media screen and (max-width:372px){
    .big_container{
      display: none;
    }
    
    .appear {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      position: fixed;
      inset: 0px;
      z-index: 99;
      will-change: opacity;
    }
    .appear .presentation {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(40, 13, 95, 0.6);
      z-index: 20;
      will-change: opacity;
    }
    .appear .settings_container {
      overflow-y: scroll;
      background: rgb(255, 255, 255);
      box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
      border: 1px solid rgb(231, 227, 235);
      border-radius: 32px;
      width: 100%S;
      max-height: 580px;
      margin-top: 75px;
      z-index: 100;
    }
  
  }
  @media screen and (max-width:576px){
    .big_container{
      display: none;
    }
    
    .appear {
      display: flex;
      flex-direction: column;
      -webkit-box-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      align-items: center;
      position: fixed;
      inset: 0px;
      z-index: 99;
      will-change: opacity;
    }
    .appear .presentation {
      position: fixed;
      top: 0px;
      left: 0px;
      width: 100%;
      height: 100%;
      background-color: rgba(40, 13, 95, 0.6);
      z-index: 20;
      will-change: opacity;
    }
    .appear .settings_container {
      overflow-y: scroll;
      background: rgb(255, 255, 255);
      box-shadow: rgba(14, 14, 44, 0.1) 0px 20px 36px -8px, rgba(0, 0, 0, 0.05) 0px 1px 1px;
      border: 1px solid rgb(231, 227, 235);
      border-radius: 32px;
      width: 100%;
      max-height: 580px;
      margin-top: 75px;
      z-index: 100;
    }
  
  }


  
  