* {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

* {
  margin: 0px;
  padding: 0px;
  border: 0px none;
  vertical-align: baseline;
  font-size: 100%;
  font-family: "Kanit", sans-serif;
  box-sizing: border-box;
}

.centered-pi {
  margin: 0px;
  width: 100%;
  max-width: 968px;
  padding: 96px;
}

.centered-pi .top-pi {
  display: flex;
  align-items: center;
}

.centered-pi .top-pi .left-top-pi {
  display: flex;
  justify-content: center;
}

.centered-pi .top-pi .left-top-pi .place-holder {
  flex: 1 1 0%;
}

.centered-pi .top-pi .left-top-pi .place-holder .inside-place-holder {
  height: 414.417px;
  width: 430px;
  position: relative;
}
