@mixin fontStyle($pixel, $weight) {
    font-size: $pixel;
    font-weight: $weight;
}
* {
    font-family: 'Kanit';}

:root {
    $headerColor: linear-gradient(0deg, rgba(39, 38, 44, 0.4));
    $mainColor : rgb(118, 69, 217);
    $alternativeColor : #280D5F;
    $mainSecondaryColor: rgb(31, 199, 212);
    $colorOption1 : rgb(237, 75, 158);
    $colorOption2 : rgb(255, 178, 55);
    $colorOption3 : rgb(154, 106, 255);
}