
.winMillion-container {
    width: 100vw;
    height: toRem(800);
    padding: toRem(20) 0;
    background: linear-gradient(rgb(111,182,240), rgb(232,241,245));
    .winMillion-content {
        background-color: rgb(208,229,250);
        padding: toRem(20) 0;
        height: toRem(550);
        width: 60%;
        border-radius: toRem(50);
        .main-title {
            @include fontStyle(40px, #280D5F);
            font-weight: 550;
            grid-area: title;
            text-align: center;
            .purple-win {
                color: rgb(118, 69, 217);
            }
        }
        .par-container {
            text-align: center;
            grid-area: par;
            @include fontStyle(16px, rgb(122, 110, 170));
            font-weight: 300;
        }
        .card-container {
            /* text-align: center; */
            grid-area: card;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            .card {
                padding: toRem(15);
                margin: toRem(10);
                height: toRem(350);
                width: 33%;
                border-radius: toRem(25);
                .card-image {
                    text-align: end;
                    padding: 10px;
                }
                .card-first-el {
                    font-size: 15px;
                    font-weight: 600;
                }
                .card-button {
                    margin: 10px 0;
                    text-align: center;
                    padding-top: 25px;
                    button {
                        border: none;
                        background: transparent;
                        @include fontStyle(16px, white);
                        border:1px solid #1FC7D4;
                        border-radius:15px;
                        width:90%;
                        padding:10px;
                        font-weight: 500;
                        color:white;
                        background-color: #1FC7D4;
                        transition: all 0.3s ease;
                        box-shadow: 0px 1.5px 3px black;
                        &:hover {
                        opacity: .5;
                    }
                    }
                   }
            }
            .left-card {
                background: linear-gradient(rgb(254,178,55), rgb(255,230,104));
                margin-right: toRem(15);
                transform: rotate(-3deg);
                box-shadow: -1px 5px 0px rgb(254,178,55);
                .card-first-el{
                    color: rgb(40, 13, 95);
                }
                .card-amount {
                    @include fontStyle(24px, rgb(40, 13, 95));
                    h2 {
                        font-weight: 600;
                    }
                }
                .card-amount-info {
                    color:  rgb(40, 13, 95);
                    font-weight: 600;
                    padding-bottom: 20px;
                }
                .card-description {
                    font-weight: 300;
                    color: rgb(40, 13, 95);
                }
            }
            .right-card {
                background: linear-gradient(rgb(117,67,216), rgb(81,33,177));
                color: white;
                margin-left: toRem(15);
                transform: rotate(2deg);
                box-shadow: 0px 5px 0px hwb(260 26% 50%);
                .card-image {
                    fill: white;
                }
                .card-amount {
                    @include fontStyle(24px, rgb(253,191,35));
                    h2 {
                        font-weight: 600;
                    }
                }
                .card-amount-info {
                    color:  white;
                    font-weight: 600;
                    padding-bottom: 20px;
                }
                .card-description {
                    font-weight: 300;
                    color: white;
                }
            }
        } 
    }
}


/* @media screen and (max-width: 575px) {
    .winMillion-container {
        display: flex;
        flex-direction: column;
        .winMillion-content {
            display: flex;
            flex-direction: column;
        }
    }
    .card-container {
        background-color: red;

    }
}

@media screen and (max-width: 851px) {
    .winMillion-container {
        .winMillion-content {
            
        }
    }
    .card-container {
        background-color: red;

    }
} */

@media screen and (min-width: 852px) {
    .winMillion-container {
        display: flex;
        justify-content: center;
        align-items: center;
        .winMillion-content {
            display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "title title"
            "par par"
            "card card";
        }
    }
}
