.mainbuttons-2 {
    border:1px solid #1FC7D4;
    border-radius:15px;
    width:110px;
    padding:15px;
    font-weight:bold;
    font-size:12px;
    color:#1FC7D4;
    background-color: #1B152C;
    transition: all 0.3s ease;
    &:hover {
    color: #1D8999;
    border:1px solid #1D8999;
    }
   }