@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Kanit";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1;
}

.moon_federico {
  height: 50rem;
  width: 100%;
  padding: 0px 100px;
  background: linear-gradient(139.73deg, rgb(230, 253, 255) 0%, rgb(243, 239, 255) 100%);
}
.moon_federico .top_federico {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}
.moon_federico .top_federico .countdown_federico {
  background-color: blue;
  border-radius: 30px;
  width: 100%;
  height: 200px;
  background-color: rgb(118, 69, 217);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}
.moon_federico .top_federico .countdown_federico h2 {
  color: white;
}
.moon_federico .top_federico .countdown_federico .counter_federico {
  background-color: #280D5F;
  width: 200px;
  height: 40px;
  border-radius: 10px;
}
.moon_federico .top_federico .countdown_federico .counter_federico .timer_federico {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.moon_federico .top_federico .countdown_federico .counter_federico .timer_federico p {
  color: rgb(255, 178, 55);
  font-size: 40px;
  font-weight: 600;
}
.moon_federico .top_federico .countdown_federico .counter_federico .timer_federico span {
  color: rgb(255, 178, 55);
  font-size: 20px;
  font-weight: bold;
}
.moon_federico .top_federico .countdown_federico #mainbutton_federico {
  border: 1px solid #1FC7D4;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #1FC7D4;
  transition: all 0.3s ease;
}
.moon_federico .top_federico .countdown_federico #mainbutton_federico:hover {
  background-color: #1D8999;
  border: 1px solid #1D8999;
  color: #AFADB4;
}
.moon_federico .top_federico img {
  position: absolute;
  height: auto;
  width: 350px;
  margin: auto;
  right: 200px;
  z-index: 2;
}
.moon_federico .bottom_federico {
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.moon_federico .bottom_federico .bottomleft_federico {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.moon_federico .bottom_federico .bottomleft_federico #maintext_federico {
  font-size: 65px;
  font-weight: bolder;
  color: rgb(118, 69, 217);
}
.moon_federico .bottom_federico .bottomleft_federico #secondarytext_federico {
  font-size: 18px;
  color: #280D5F;
  font-weight: bold;
}
.moon_federico .bottom_federico .bottomleft_federico .bottoni_federico {
  display: flex;
  width: 100%;
  justify-content: left;
  gap: 10px;
}
.moon_federico .bottom_federico .bottomleft_federico .bottoni_federico #mainbutton_federico {
  border: 1px solid #1FC7D4;
  border-radius: 15px;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #1FC7D4;
  transition: all 0.3s ease;
}
.moon_federico .bottom_federico .bottomleft_federico .bottoni_federico #mainbutton_federico:hover {
  background-color: #1D8999;
  border: 1px solid #1D8999;
  color: #AFADB4;
}
.moon_federico .bottom_federico .bottomleft_federico .bottoni_federico #secondarybutton_federico {
  border: 2px solid #1FC7D4;
  border-radius: 15px;
  width: 120px;
  height: 50px;
  font-weight: bold;
  font-size: 16px;
  color: #1FC7D4;
  background-color: transparent;
  transition: all 0.3s ease;
}
.moon_federico .bottom_federico .bottomleft_federico .bottoni_federico #secondarybutton_federico:hover {
  color: #1D8999;
  border: 1px solid #1D8999;
}
.moon_federico .bottom_federico .bottomright_federico {
  width: 50%;
}
.moon_federico .bottom_federico .bottomright_federico img {
  max-width: 80%;
}

.usedby_federico {
  height: 50rem;
  width: 100%;
  padding-top: 100px;
  background: linear-gradient(rgb(255, 255, 255) 22%, rgb(215, 202, 236) 100%);
}
.usedby_federico .usedtop_federico {
  width: 100%;
  height: 40%;
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.usedby_federico .usedtop_federico img {
  padding-bottom: 20px;
}
.usedby_federico .usedtop_federico h2 {
  font-size: 40px;
  color: #280D5F;
  padding-bottom: 20px;
}
.usedby_federico .usedtop_federico p {
  padding-bottom: 20px;
}
.usedby_federico .usedtop_federico span {
  font-weight: bold;
}
.usedby_federico .usedbottom_federico {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.usedby_federico .usedbottom_federico .card_federico {
  width: 280px;
  height: 300px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  border-bottom: 8px solid lightgray;
}
.usedby_federico .usedbottom_federico .card_federico .card_top,
.usedby_federico .usedbottom_federico .card_federico .card_bottom {
  height: 50%;
  width: 100%;
}
.usedby_federico .usedbottom_federico .card_federico .card_top {
  position: relative;
}
.usedby_federico .usedbottom_federico .card_federico .card_top img {
  position: absolute;
  right: 0;
}
.usedby_federico .usedbottom_federico .card_federico .card_bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.usedby_federico .usedbottom_federico .card_federico .card_bottom h2 {
  font-size: 40px;
  color: #280D5F;
}
.usedby_federico .usedbottom_federico .card_federico .card_bottom h2 #diff1 {
  color: rgb(118, 69, 217);
}
.usedby_federico .usedbottom_federico .card_federico .card_bottom h2 #diff2 {
  color: rgb(31, 199, 212);
}
.usedby_federico .usedbottom_federico .card_federico .card_bottom h2 #diff3 {
  color: rgb(237, 75, 158);
}/*# sourceMappingURL=style.css.map */