@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@use "moduloRoot";
* {
  font-family: 'Kanit';
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.first-container-Laurent {
  width: 100%;
  height: 50rem;
  padding: 1.25rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#6fb6f0), to(#e8f1f5));
  background: linear-gradient(#6fb6f0, #e8f1f5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.first-container-Laurent .content-container-Laurent {
  background-color: #d0e5fa;
  padding: 1.25rem 0;
  height: 34.375rem;
  width: 60%;
  border-radius: 3.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "title title" "par par" "card card";
}

.first-container-Laurent .content-container-Laurent .main-title {
  font-size: 40px;
  color: #280D5F;
  font-weight: 550;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  text-align: center;
}

.first-container-Laurent .content-container-Laurent .main-title .purple-win {
  color: #7645d9;
}

.first-container-Laurent .content-container-Laurent .par-container {
  text-align: center;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: par;
  font-size: 16px;
  color: #7a6eaa;
  font-weight: 300;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent {
  /* text-align: center; */
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: card;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent {
  padding: 0.9375rem;
  margin: 0.625rem;
  height: 21.875rem;
  width: 33%;
  border-radius: 1.5625rem;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent .card-image {
  text-align: end;
  padding: 10px;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent .card-first-el {
  font-size: 15px;
  font-weight: 600;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent .card-button {
  margin: 10px 0;
  text-align: center;
  padding-top: 25px;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent .card-button button {
  border: none;
  background: transparent;
  font-size: 16px;
  color: white;
  border: 1px solid #1FC7D4;
  border-radius: 15px;
  width: 90%;
  padding: 10px;
  font-weight: 500;
  color: white;
  background-color: #1FC7D4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 1.5px 3px black;
          box-shadow: 0px 1.5px 3px black;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .card-Laurent .card-button button:hover {
  opacity: .5;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent {
  background: -webkit-gradient(linear, left top, left bottom, from(#feb237), to(#ffe668));
  background: linear-gradient(#feb237, #ffe668);
  margin-right: 0.9375rem;
  -webkit-transform: rotate(-3deg);
          transform: rotate(-3deg);
  -webkit-box-shadow: -1px 5px 0px #feb237;
          box-shadow: -1px 5px 0px #feb237;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent .card-first-el {
  color: #280d5f;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent .card-amount {
  font-size: 24px;
  color: #280d5f;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent .card-amount h2 {
  font-weight: 600;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent .card-amount-info {
  color: #280d5f;
  font-weight: 600;
  padding-bottom: 20px;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .left-card-Laurent .card-description {
  font-weight: 300;
  color: #280d5f;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent {
  background: -webkit-gradient(linear, left top, left bottom, from(#7543d8), to(#5121b1));
  background: linear-gradient(#7543d8, #5121b1);
  color: white;
  margin-left: 0.9375rem;
  -webkit-transform: rotate(2deg);
          transform: rotate(2deg);
  -webkit-box-shadow: 0px 5px 0px hwb(260 26% 50%);
          box-shadow: 0px 5px 0px hwb(260 26% 50%);
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent .card-image {
  fill: white;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent .card-amount {
  font-size: 24px;
  color: #fdbf23;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent .card-amount h2 {
  font-weight: 600;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent .card-amount-info {
  color: white;
  font-weight: 600;
  padding-bottom: 20px;
}

.first-container-Laurent .content-container-Laurent .card-container-Laurent .right-card-Laurent .card-description {
  font-weight: 300;
  color: white;
}

.second-container-Laurent {
  height: 50rem;
  width: 100%;
  padding: 1.25rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.second-container-Laurent .second-content-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (3)[1fr];
      grid-template-columns: repeat(1fr, 3);
      grid-template-areas: 'title title image' 'desc desc image' 'buttons . image' 'data data data';
}

.second-container-Laurent .second-content-container .cake-title {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  margin-bottom: 20px;
}

.second-container-Laurent .second-content-container .cake-title h2 {
  font-size: 40px;
  color: #280D5F;
  font-weight: 550;
  line-height: 45px;
}

.second-container-Laurent .second-content-container .cake-title h2 .purple-cake {
  color: #7645d9;
}

.second-container-Laurent .second-content-container .cake-description {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: desc;
  text-align: left;
  font-size: 16px;
  color: #7a6eaa;
  font-weight: 300;
}

.second-container-Laurent .second-content-container .cake-buttons {
  margin: 10px 0;
  text-align: center;
  padding-top: 25px;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: buttons;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.second-container-Laurent .second-content-container .cake-buttons button {
  border: none;
  background: transparent;
  font-size: 16px;
  color: white;
  border: 1px solid #1FC7D4;
  border-radius: 15px;
  width: 44%;
  padding: 10px;
  font-weight: bold;
  color: white;
  background-color: #1FC7D4;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-shadow: 0px 1.5px 0px #072f32;
          box-shadow: 0px 1.5px 0px #072f32;
}

.second-container-Laurent .second-content-container .cake-buttons button:hover {
  opacity: .5;
}

.second-container-Laurent .second-content-container .cake-buttons a {
  text-decoration: none;
  color: #1FC7D4;
  margin: 0 10px;
}

.second-container-Laurent .second-content-container .cake-buttons a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: #1FC7D4;
          text-decoration-color: #1FC7D4;
}

.second-container-Laurent .second-content-container .cake-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  grid-area: image;
  position: relative;
}

.second-container-Laurent .second-content-container .cake-image picture .bottom-right-cake {
  position: absolute;
  bottom: -80px;
  right: 0;
  height: 350px;
  width: 400px;
}

.second-container-Laurent .second-content-container .cake-image picture .top-right-cake {
  position: absolute;
  top: 0;
  right: 0;
  height: 350px;
  width: 400px;
}

.second-container-Laurent .second-content-container .cake-image picture .top-left-cake {
  position: absolute;
  top: 0;
  left: -260px;
  height: 350px;
  width: 400px;
}

.second-container-Laurent .second-content-container .cake-image picture .coin-cake {
  position: absolute;
  height: 350px;
  width: 400px;
  right: 0;
}

.second-container-Laurent .second-content-container .cake-data-table {
  margin-top: 100px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: data;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-areas: 'd1 d2 d3' 'd4 d5 d6';
  row-gap: 25px;
  -webkit-column-gap: 150px;
          column-gap: 150px;
}

.second-container-Laurent .second-content-container .cake-data-table .data {
  padding: 10px;
}

.second-container-Laurent .second-content-container .cake-data-table .data .data-title {
  font-size: 16px;
  color: #7a6eaa;
  font-weight: 400;
}

.second-container-Laurent .second-content-container .cake-data-table .data .data-num {
  font-size: 24px;
  color: #280D5F;
  font-weight: 500;
}

.second-container-Laurent .second-content-container .cake-data-table .data1  {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: d1;
}

.second-container-Laurent .second-content-container .cake-data-table .data-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: d2;
}

.second-container-Laurent .second-content-container .cake-data-table .data-3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: d3;
}

.second-container-Laurent .second-content-container .cake-data-table .data-4 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: d4;
}

.second-container-Laurent .second-content-container .cake-data-table .data-5 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: d5;
}

.second-container-Laurent .second-content-container .cake-data-table .data-6 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: d6;
}

.second-container-Laurent .second-content-container .cake-data-table .data2,
.second-container-Laurent .second-content-container .cake-data-table .data3,
.second-container-Laurent .second-content-container .cake-data-table .data5,
.second-container-Laurent .second-content-container .cake-data-table .data6 {
  border-left: 2px solid rgba(122, 110, 170, 0.4);
}
/*# sourceMappingURL=style.css.map */