* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: rgb(238, 234, 244) 0px 0px 5px inset;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #7A6EAA;
  border-radius: 8px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(231, 227, 235);
  padding-left: 16px;
  padding-right: 16px;
}
nav .sinistra {
  width: 60%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
nav .sinistra .logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 20px;
  font-weight: bolder;
}
nav .sinistra .bottoni {
  display: flex;
  width: 300px;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 8px;
}
nav .sinistra .bottoni .navmenubuttons {
  height: 90%;
  padding: 5px;
  margin-top: 3px;
  text-align: start;
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #7A6EAA;
  font-weight: bold;
  transition: all 0.3s ease;
  cursor: pointer;
  list-style-type: none;
}
nav .sinistra .bottoni .navmenubuttons:hover .dropdown_content {
  border: 1px solid rgb(216, 212, 212);
  border-radius: 10px;
  display: block;
}
nav .sinistra .bottoni .navmenubuttons:hover .dropdown_content:hover .element {
  display: block;
  display: flex;
  justify-content: space-between;
}
nav .sinistra .bottoni .navmenubuttons li a {
  text-decoration: none;
  color: #7A6EAA;
}
nav .sinistra .bottoni .navmenubuttons .dropdown_content {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(231, 227, 235);
  border-radius: 16px;
  margin-top: 20px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 280px;
  height: auto;
  z-index: 1001;
  flex-direction: column;
}
nav .sinistra .bottoni .navmenubuttons .dropdown_content .element {
  display: flex;
  justify-content: space-between;
  height: 48px;
  width: 100%;
  align-items: center;
  padding: 10px;
}
nav .sinistra .bottoni .navmenubuttons .dropdown_content .element:hover {
  display: block;
  border: 1px solid rgb(216, 212, 212);
  background-color: rgb(216, 212, 212);
  border-radius: 10px;
}
nav .destra {
  width: 40%;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav .destra .money {
  color: rgb(122, 110, 170);
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
}
nav .destra .language {
  height: 100%;
  display: flex;
}
nav .destra .language:hover .dropdown_content {
  border: 1px solid rgb(216, 212, 212);
  border-radius: 10px;
  display: block;
}
nav .destra .language:hover .dropdown_content:hover .element {
  display: block;
}
nav .destra .language svg {
  fill: rgb(118, 69, 217);
}
nav .destra .language .dropdown_content {
  overflow-y: scroll;
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(231, 227, 235);
  border-radius: 16px;
  margin-top: 55px;
  padding-bottom: 4px;
  padding-top: 4px;
  width: 150px;
  max-height: 180px;
  flex-direction: column;
}
nav .destra .language .dropdown_content .element {
  height: 48px;
  width: 100%;
  align-items: center;
  padding: 10px;
}
nav .destra .language .dropdown_content .element a {
  text-decoration: none;
  color: rgb(40, 13, 95);
  font-weight: bold;
}
nav .destra .language .dropdown_content .element:hover {
  display: block;
  border: 1px solid rgb(216, 212, 212);
  background-color: rgb(216, 212, 212);
  border-radius: 10px;
}
nav .destra .settings_elio {
  margin-top: 2px;
  padding: 10px;
  background-color: white;
  border: 1px solid white;
  cursor: pointer;
}
nav .destra .settings_elio svg {
  fill: rgb(118, 69, 217);
}
nav .destra .mainbuttons {
  display: flex;
  align-items: center;
  border: 1px solid #1FC7D4;
  border-radius: 20px;
  width: 140px;
  height: 35px;
  padding: 15px;
  font-weight: bold;
  font-size: 16px;
  color: white;
  background-color: #1FC7D4;
  transition: all 0.3s ease;
}
nav .destra .mainbuttons a {
  text-decoration: none;
  color: white;
}
nav .destra .mainbuttons:hover {
  background-color: #1D8999;
  border: 1px solid #1D8999;
  border-radius: 20px;
  color: white;
}

* {
  font-family: "Kanit";
}/*# sourceMappingURL=style.css.map */