$mainColor : rgb(118, 69, 217);
$alternativeColor : #280D5F;
$mainSecondaryColor: rgb(31, 199, 212);
$colorOption1 : rgb(237, 75, 158);
$colorOption2 : rgb(255, 178, 55);
$colorOption3 : rgb(154, 106, 255);
$colorlinear: linear-gradient(#280D5F, rgb(118, 69, 217));
$buttonBlue: rgb(25, 25, 151);