
animation: 3s ease-in-out 0s infinite normal none running img-moon; //va messa {} dell'img di riferimento

@keyframes img-moon {
    0% {
        transform: translate(0px, 0px);
    }
    50% {
        transform: translate(-5px, -5px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}